<div class = "main-title">
  <div class ="group-name">
    hogehuga
  </div>
  <div class ="fin-button">
    <a href ="#">チャットを終了する</a>
  </div>
</div>

<div class = "main-chat">
  <div class ="chat-index">
    <div class ="upper-message">
      <div class ="user-name">早川</div>
      <div class ="created-at">2021/5/4(TUE)12:36:00</div>
    </div>
    <div class ="lower-message">
      <div class ="message">おはよう</div>
    </div>
  </div>
  <div class ="chat-index">
    <div class ="upper-message">
      <div class ="user-name">下津</div>
      <div class ="created-at">2021/5/4(TUE)13:34:00</div>
    </div>
    <div class ="lower-message">
      <div class ="message">こんにちは</div>
    </div>
  </div>
</div>



<div class = "form">
    <div class="text-message">
      <input placeholder="type a message" class="text">
      <label class="form-image">
        <span class="image-file">画像</span>
        <input type="file" class="hidden">
      </label>
    </div>
    <input type="submit" value="送信" class="button">
</div>

