<div class = "side-info">
  <div class = "side-name" >
    <a href = "#">早川</a>
  </div>
  <div class = "new-chat">
   <a href = "#">チャットを作成する</a>
  </div>
</div>
<div class = "side-bar">
  <div class = "side-chat-name">
    <div class ="room">
      <a href = "#">techroom1</a>
    </div>
    <div class ="room">
      <a href = "#">techroom2</a>    
    </div>
    
  </div>
</div>