<div class = "side-info">
  <div class = "side-name" >
    <%= link_to current_user.name, edit_user_path(current_user), method: :get %>
  </div>
  <div class = "new-chat">
   <%= link_to 'チャットを作成する', new_room_path %>
  </div>
</div>
<div class = "side-bar">
  <% current_user.rooms.each do |room| %>
    <div class ="side-chat">
      <div class = "side-chat-name">
       <a href="#"><%= room.name %></a>
      </div>  
    </div>
  <% end %>

</div>